/**
 * The db_ido_mysql library implements IDO functionality
 * for MySQL.
 */

library "db_ido_mysql"

object IdoMysqlConnection "ido-mysql" {
  user = "{{ mon_icinga_mysql_user }}",
  password = "{{ mon_icinga_mysql_password }}",
  host = "{{ mon_icinga_mysql_host }}",
  database = "{{ mon_icinga_mysql_database }}"
  
  /* 
   * Disable HA so that every node writes to it's own local DB -> saves me
   * from doing a Galera cluster just for monitoring...
   */
  enable_ha = false
}
