/*
 * Generic template examples.
 */


/**
 * Provides default settings for hosts. By convention
 * all hosts should import this template.
 *
 * The CheckCommand object `hostalive` is provided by
 * the plugin check command templates.
 * Check the documentation for details.
 */
template Host "generic-host" {
  max_check_attempts = 3
  check_interval = 1m
  retry_interval = 30s

  check_command = "dummy"
}

template Host "mon-server-host" {
  max_check_attempts = 3
  check_interval = 1m
  retry_interval = 30s

  check_command = "hostalive"
}

/**
 * Provides default settings for services. By convention
 * all services should import this template.
 */
template Service "generic-service" {
  max_check_attempts = 5
  check_interval = 1m
  retry_interval = 30s
}

/**
 * Provides default settings for users. By convention
 * all users should inherit from this template.
 */

template User "generic-user" {

}

/**
 * Provides default settings for host notifications.
 * By convention all host notifications should import
 * this template.
 */
template Notification "mail-host-notification" {
  command = "mail-host-notification"

  states = [ Up, Down ]
  types = [ Problem, Acknowledgement, Recovery, Custom,
            FlappingStart, FlappingEnd,
            DowntimeStart, DowntimeEnd, DowntimeRemoved ]

  vars += {
    notification_icingaweb2url = "https://{{ ansible_fqdn }}/icingaweb2/dashboard#!/icingaweb2"
    notification_from = "Icinga 2 <{{ mon_icinga_mail_user }}@{{ mon_icinga_mail_domain }}>"
    notification_logtosyslog = true
  }

  period = "24x7"
}

/**
 * Provides default settings for service notifications.
 * By convention all service notifications should import
 * this template.
 */
template Notification "mail-service-notification" {
  command = "mail-service-notification"

  states = [ OK, Warning, Critical, Unknown ]
  types = [ Problem, Acknowledgement, Recovery, Custom,
            FlappingStart, FlappingEnd,
            DowntimeStart, DowntimeEnd, DowntimeRemoved ]

  vars += {
    notification_icingaweb2url = "https://{{ ansible_fqdn }}/icingaweb2/dashboard#!/icingaweb2"
    notification_from = "Icinga 2 <{{ mon_icinga_mail_user }}@{{ mon_icinga_mail_domain }}>"
    notification_logtosyslog = true
  }

  period = "24x7"
}

apply Dependency "Manual-Parenthost" for (parent in service.vars.parent) to Service {
    parent_host_name = parent
    states = [ Up ]
    disable_checks = true
    ignore_soft_states = false
    disable_notifications = true
}

apply ScheduledDowntime "backup-downtime" to Host {
  author = "icingaadmin"
  comment = "Clients may go down anytime"

  ranges = {
    monday = "00:00-23:59"
    tuesday = "00:00-23:59"
    wednesday = "00:00-23:59"
    thursday = "00:00-23:59"
    friday = "00:00-23:59"
    saturday = "00:00-23:59"
    sunday = "00:00-23:59"
  }

  assign where host.vars.is_client
}
