object Zone "global-templates" {
  global = true
}

object Zone "director-global" {
  global = true
}

object Zone "master" {
    // The "master" zone
    endpoints = [ {% for host in groups['mon_server'] %}
                     "{{ hostvars[host]['ansible_fqdn'] }}"{% if not loop.last %},{% endif %}
                  {% endfor %}
                ]
}
