object Zone "global-templates" {
  global = true
}

object Zone "director-global" {
  global = true
}

{% for host in groups['mon_server'] %}
object Endpoint "{{ host }}" {
  host = "{{ host }}"
}
{% endfor %}

{% for host in groups['mon_client'] %}
object Endpoint "{{ host }}" {
  host = "{{ host }}"
}
object Zone "{{ host }}" {
    endpoints = [ "{{ host }}" ]
    parent = "master"
}
{% endfor %}

object Zone "master" {
    // The "master" zone
    endpoints = [ "{{ groups['mon_server']|join('", "') }}" ]
}
