[icingaweb2]
backend = "{{ mon_icingaweb_ldap_kind }}"
resource = "icingaweb_ldap"
{% if mon_icingaweb_ldap_kind != "msldap" %}
user_class = "{{ mon_icingaweb_ldap_user_class }}"
filter = "{{ mon_icingaweb_ldap_filter }}"
user_name_attribute = "uid"
base_dn = "{{ mon_icingaweb_ldap_userdn }}"
{% endif %}
