/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * Host {{ item }} * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
object Host "{{ item }}" {
  import "satellite-host"
	check_command = "dummy"

  /* Set custom attribute `os` for hostgroup assignment in `groups.conf`.
   * vars.os = "Linux" */

  /* Define notification mail attributes for notification apply rules in `notifications.conf`. */
  vars.notification["mail"] = {
    /* The UserGroup `icingaadmins` is defined in `users.conf`. */
    groups = [ "icingaadmins" ]
  }
}

/* * * * * * * * * * * * * Services * * * * * * * * * * * * * * * * * */
{% if infiniband is not defined %}
object Service "infiniband {{ item }}" {
        import "satellite-service"
        check_command = "dummy"
        host_name = "{{ item }}"
        zone = "{{ item }}"
}
{% endif %}
