/**
 * The GraphiteWriter type writes check result metrics and
 * performance data to a graphite tcp socket.
 */

library "perfdata"

object GraphiteWriter "graphite" {
  host = "127.0.0.1"
  port = 9112
  host_name_template = "icinga2.$host.name$.host.$host.check_command$"
  #service_name_template = "icinga2.$host.name$.service.$service.name$"
  service_name_template = "icinga2.$host.name$.check.$service.vars.datgroup$.metric.$service.vars.datitem$"
}
