{% set ipidx=(1 + item.0) %}
{% for item2 in prmhosts[item.1] %}
# {{ item.1 }} / {{ item2 }}
{% if item2 == "node" %}
frontend {{ item.1 }}-front-9100
	bind 127.43.2.{{ ipidx }}:9100
	mode tcp
	default_backend {{ item.1 }}-back-9100

backend {{ item.1 }}-back-9100
	mode tcp
	server remote {{ hostvars[item.1]['ansible_fqdn'] }}:9101 ssl crt /etc/haproxy/pm-cl-full.pem ca-file /etc/haproxy/pm-ca.crt verify required
{% endif %}
{% endfor %}
