frontend graphite
	bind :::9110 ssl crt /etc/haproxy/pm-sv-full.pem ca-file /etc/haproxy/pm-ca.crt crl-file /etc/haproxy/pm-crl.pem verify required
	mode tcp
	default_backend graphite-back

backend graphite-back
	mode tcp
	server local 127.0.0.1:9109
