# {{ item }}
{% set ipidx=(1 + item.0) %}
{% for item2 in prmhosts[item.1] %}
# {{ item.1 }} / {{ item2 }}
{% if item2 == "node" or item2 == "snmp" or item2 == "custom1" or item2 == "custom2" %}
{% if item2 == "node" %}
{% set port=9100 %}
{% set portback=9101 %}
{% elif item2 == "snmp" %}
{% set port=9220 %}
{% set portback=9220 %}
{% elif item2 == "custom1" %}
{% set port=9200 %}
{% set portback=9200 %}
{% else %}
{% set port=9201 %}
{% set portback=9201 %}
{% endif %}
frontend {{ item.1 }}-front-{{ port }}
	bind 127.43.2.{{ ipidx }}:{{ port }}
	mode http
	default_backend {{ item.1 }}-back-{{ port }}

backend {{ item.1 }}-back-{{ port }}
	mode http
	option httpchk get /metrics
	http-check expect rstring go_gc_duration_seconds
{% if hostvars[item.1]['ansible_fqdn'] in mon_forward_map %}
	server remote {{ mon_forward_map[hostvars[item.1]['ansible_fqdn']][portback] }} ssl crt /etc/haproxy/pm-cl-full.pem ca-file /etc/haproxy/pm-ca.crt verify required check
{% else %}
	server remote {{ hostvars[item.1]['ansible_fqdn'] }}:{{ portback }} ssl crt /etc/haproxy/pm-cl-full.pem ca-file /etc/haproxy/pm-ca.crt verify required check
{% endif %}
{% endif %}
{% endfor %}
