/**
 * The db_ido_mysql library implements IDO functionality
 * for MySQL.
 */

library "db_ido_mysql"

object IdoMysqlConnection "ido-mysql" {
  user = "icinga",
  password = "{{ icinga_mysql_password }}",
  host = "{{ icinga_mysql_host }}",
  database = "icinga"
}
