mappings:
- match: icinga2.*.check.*.metric.*.perfdata.*.value
  name: icinga_${2}
  labels:
    check: $2
    job: $1
    metric: $4
    target: $3
- match: icinga2.*.check.*.metric.*.perfdata.*.*.value
  name: icinga_${2}
  labels:
    check: $2
    job: $1
    metric: $4.$5
    target: $3
- match: icinga2.*.host.*.perfdata.*.value
  name: icinga_${2}
  labels:
    check: $2
    job: $1
    metric: $3
    target: $1

