icinga2.*.check.*.metric.*.perfdata.*.value
job="$1"
check="$2"
target="$3"
metric="$4"
name="icinga_${2}"

icinga2.*.check.*.metric.*.perfdata.*.*.value
job="$1"
check="$2"
target="$3"
metric="$4.$5"
name="icinga_${2}"

icinga2.*.host.*.perfdata.*.value
job="$1"
check="$2"
target="$1"
metric="$3"
name="icinga_${2}"
