  - job_name: '{{ hostvars[item.1]['ansible_fqdn'] }}'
    static_configs:
{% set ipidx=(1 + item.0) %}
{% for item2 in prmhosts[item.1] %}
{% if item2 == "node" %}
      - targets: ['127.43.2.{{ ipidx }}:9100']
{% endif %}
{% if item2 == "snmp" %}
{% if item.1 in mon_snmp_map %}
{% for snmp_item in mon_snmp_map[item.1] %}
  - job_name: '{{ hostvars[item.1]['ansible_fqdn'] }}-snmp-{{ snmp_item.name }}'
    scrape_interval: '{{ snmp_item.interval }}'
    scrape_timeout: '{{ snmp_item.interval }}'
    static_configs:
      - targets:
        - '{{ snmp_item.ip }}'
    metrics_path: /snmp
    params:
      module: {{ snmp_item.module|to_json }}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: '127.43.2.{{ ipidx }}:9220'
{% endfor %}
{% else %}
  # Found SNMP exporter but no mapping - is this correct?
{% endif %}
{% endif %}
{% endfor %}
