# Sample config for Prometheus.

global:
  scrape_interval:     5s # By default, scrape targets every 15 seconds.
  evaluation_interval: 5s # By default, scrape targets every 15 seconds.
  # scrape_timeout is set to the global default (10s).

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
      monitor: 'example'

# Load and evaluate rules in this file every 'evaluation_interval' seconds.
rule_files:
  # - "first.rules"
  # - "second.rules"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'

    # Override the global default and scrape targets from this job every 5 seconds.
    scrape_interval: 5s
    scrape_timeout: 5s

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    static_configs:
      - targets: ['localhost:9090']

  # Import Icinga2 metrics. Job name is already set, but contains _ instead of . :/
  # If you know a better regex - feel free to fix!
  # TODO: Make configurable
  - job_name: icinga
    honor_labels: true
    static_configs:
      - targets: ['localhost:9108']
    metric_relabel_configs:
{{ mon_prometheus_job_relabling|to_nice_yaml|indent(6, true) }}

  # Node exporters on other mons
{% for item in groups['mon_server'] %}
  - job_name: '{{item}}'
    static_configs:
{% set ipidx=(1 + loop.index0) %}
{% for item2 in prmhosts[item] %}
{% if item2 == "node" %}
      - targets: ['127.43.1.{{ ipidx }}:9100']
{% elif item2 == "ceph" %}
      - targets: ['127.43.1.{{ ipidx }}:9128']
{% endif %}
{% endfor %}
{% endfor %}
  # Node exporters on clients
{% for item in groups['mon_client'] %}
  - job_name: '{{item}}'
    static_configs:
{% set ipidx=(1 + loop.index0) %}
{% for item2 in prmhosts[item] %}
{% if item2 == "node" %}
      - targets: ['127.43.2.{{ ipidx }}:9100']
{% elif item2 == "ceph" %}
      - targets: ['127.43.2.{{ ipidx }}:9128']
{% endif %}
{% endfor %}
{% endfor %}
