# Configuration for tcpdup
# Options:
#  --help                  print this message
#  --backend arg           backend to use ("x.x.x.x:port")
#  --buf arg (=8192)       Number of measurements to buffer in case of
#                          connectivity issues
#  --port arg (=12345)     port to bind to
#  --bind arg (=127.0.0.1) IP to bind to
ARGS="{% for item in groups['mon-server'] %}--backend 127.43.1.{{1 + loop.index0}}:9111 {% endfor %} --port 9112"
