/* Only 'master' zones in this file! */
{% for host in groups['mon-server'] %}
object Endpoint "{{ host }}" {
  {% if host != ansible_fqdn %}
  host = "{{ host }}"
  {% endif %}
}
{% endfor %}

object Zone "master" {
    // The "master" zone
    endpoints = [ "{{ groups['mon-server']|join('", "') }}" ]
}
